.me {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: auto;
}

.active {
    width: 300px;
    height: 260px;
    margin-right: 0;
    background: blue;
}

.actived {
    width: 200px;
    height: 200px;
    margin: auto;
    background: magenta;
}

.text-denger {
    width: 100px;
    height: 100px;
    background: aqua;
}

.red {
    background: red;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in below version 2.1.8 */

{
    opacity: 0
}

.slide-fade-enter-active {
    transition: all .3s ease;
}


/* .slide-fade-enter-active {
    transition: all .3s ease;
} */

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */

{
    transform: translateX(10px);
    opacity: 0;
}