@charset "gb2312";


#keytable{
	 background-color:#0a3755;
}
#keytable td {
	width:61px;
	height:55px;
	/*background:url(bg.png) no-repeat;*/
	text-align:center;
	font-size:36px;
	color:#f0f0f0;	
	text-align:center;
}

.wordrightborder {
	border-right:#060606 solid 1px;
	color:#ffffff;
	font-size:30px;
}

.wordbottomborder {
	border-bottom:#060606 solid 1px;
}

.wordtopborder {
	border-top:#060606 solid 1px;
}

.rightborder {
	border-right:#060606 solid 1px;
}

.leftborder {
	border-left:#060606 solid 1px;
}

.bottomborder {
	border-bottom:#060606 solid 1px;
}

.topborder {
	border-top:#060606 solid 1px;
}

.numbg {
	background-color:#062d4d;	
}

.letterbg {
	background-color:#0a3755;	
}

.specialbg {
	background-color:#062d4d;	
}

.onfocus {
	background-color:#ffca28;
	color:#000000;
}

.opreabg {
	background-color:#07243c;
}
#keyinput{
	background-color:#0a3755;
	color:#ffffff;
}


#inputValue {	
	word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-word;/*支持IE，chrome，FF*/
	font-size:36px;
}
#inputButton{
	background-color:#07243c;
	border-top:#060606 solid 1px;
	border-left:#060606 solid 1px;
	border-bottom:#060606 solid 1px; 
	font-size:36px;
}
#keyword{
	background-color:#0d4d78;
}
#r_arrow{
	font-size: 30px; color:#ffffff;
	border-bottom:#060606 solid 1px;
	border-left:#060606 solid 1px;
}