.el-menu-item {
    background: #212c3e !important;
}

.el-submenu .el-menu-item:hover {
    background-color: #2a384e !important;
}

.el-menu-item.is-active {
    color: #3B6FF1
}

.manage {
    background-color: rgb(50, 64, 87) !important
}

.manage:hover {
    background-color: #2a384e !important;
}

.height_100 {
    height: 100% !important;
}

.el-submenu__title:hover {
    background-color: #2a384e !important;
}