<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        {{message}}
        <span :title="date">
            悬停查看绑定的信息
        </span>
        <p v-if="seen">now you see me</p>
        <ol>
            <li v-for="item in things">{{item.thing}}</li>
        </ol>
        <p>{{msg}}</p>
        <button @click="reverseMessage">逆转消息</button><br>
        <input type="text" v-model="message">
        <ol>
            <todo-item v-for="item in things" :todo="item"></todo-item>
        </ol>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.thing}}</li>'
        })
        let app = new Vue({
            el: '#app',
            data: {
                message: 'aaa',
                date: '页面加载于' + new Date().toLocaleString(),
                seen: false,
                msg: 'tencent',
                things: [{
                    thing: 'player'
                }, {
                    thing: 'battle'
                }, {
                    thing: 'ground'
                }]
            },
            methods: {
                reverseMessage() {
                    this.msg = this.msg.split("").reverse().join("")
                }
            }
        })
    </script>
</body>

</html>